body {

    height: 100vh;
    background-color: #6dadbf;
    background-image: url("image.svg");
    background-repeat: no-repeat;
    background-position: center;
    margin: 0;
}

.wrap {
    max-width: 600px;
    margin: 0 auto;
  }
  
  .cards {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
    margin-top: 125px;
  }
  
  .card {
    background: #fff;
    border: 2px solid #5fb1bd;
    border-radius: 12px 1px;
    padding: 26px 22px;
    box-shadow: 0 2px 0 rgba(0,0,0,0.04);
    min-height: 160px;
    overflow: hidden;
    width: 250;
  }
  
  .card .num {
    font-family: "Montserrat", sans-serif;
    font-size: 44px;
    color: #5fb1bd;
    line-height: 1;
    margin-bottom: 8px;
    font-weight: 750;
  }
  
  .card .text p {
    margin: 0;
    font-style: unset;
    color: #8b8b8b;
    font-weight: 300;
    font-size: 14px;
    line-height: 1.6;
  }

  @media (max-width: 640px) {
    .cards { grid-template-columns: 1fr; }
    .card { padding: 20px; }
    .card .num { font-size: 36px; }
  }

  .line{
    margin-top: 100px;
    background-color: rgb(61, 61, 61);
    height: 150px;
  }

  .text-line{
    color: #fff;
    text-align: center;
    font-style: normal;
    padding-top: 40px;
    font-size: 12px;
    font-family: "Calibri Light";
  }
  .top-line{
    background-color: #fff;
    height: 35px;
  }

  .logo {
    font-family: "Calibri Light";
    font-size: 25px;
    color: #b7b7b7;
    margin-left: 250px;
    font-weight: 900;
  }
